.App, html {
  font-family:Arial, sans-serif ;
  background-color: rgb(182, 30, 93);
  align-items: center;
  justify-content: center;
}
.fiveclock {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 60px;
  color: black;
  margin-top: 20px;
  margin: 50px;
}

.length-control {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 10px auto;
}

.length-control div {
  text-align: center;
}

h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}

span {
  font-size: 24px;
  font-weight: bold;
}

.timer {
  text-align: center;
  padding: 10px;
}

#timer-label {
  font-size: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

#time-left {
  font-size: 36px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

#start_stop, #reset {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 30px 60px;
  font-size: 18px;
  margin-left: 600px;
  cursor: pointer;
}


#break-label {
  font-size: 30px;
  margin: 0;
}

#session-label {
  font-size: 30px;
  margin: 0;
}

#break-decrement {
  background: black;
  width: 50px;
  height: 50px;
  border: none;
}

#break-increment {
  background: black;
  width: 50px;
  height: 50px;
  border: none;
}

p {
  color: black;
  font-weight: small;
  font-size: 15px;
}

#session-decrement {
  width: 50px;
  height: 50px;
}

#session-increment {
  width: 50px;
  height: 50px;
}
